<div class="container class-container">
    <div class="row">

        <div class="col-md-12">
            <table id="table_id">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Image</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Date</th>
                    <th>Options</th>
                </tr>
                </thead>
                <tbody>
                {{#each users}}
                    <tr>
                        <td>{{_id}}</td>
                        <td><img src="/images/user_profile_images/{{image}}" height="30px" /></td>
                        <td>{{name}}</td>
                        <td>{{email}}</td>
                        <td>{{createdAt}}</td>
                        <td class="form-inline">
                            <button class="btn btn-sm btn-default">Change Pass</button>
                            <a onclick="return confirm('Are you sure you want to delete this item?');" href="user/delete/{{_id}}" class="btn btn-sm btn-danger">Delete</a>
                        </td>
                    </tr>
                {{/each}}
                </tbody>
            </table>

            <div class="text-center">
                <ul class="pagination">
                    {{#if (isFirstPage page)}}
                        <li class="disabled">
                            <a>< Prev</a>
                        </li>
                    {{else}}
                        <li>
                            <a href="/user?page={{add page -1}}">< Prev</a>
                        </li>
                    {{/if}}
                    <li class="active"><span>{{page}}</span></li>
                    {{#if (isLastPage total page pagination)}}
                        <li class="disabled">
                            <a>Next ></a>
                        </li>
                    {{else}}
                        <li>
                            <a href="/user?page={{add page 1}}">Next ></a>
                        </li>
                    {{/if}}
                </ul>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        var table = $('#table_id').DataTable({
            "paging": false,
            "order": []
        });
    });
</script>
